on early-init
    # ensure overclocking is not active
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2265600

on init
    # set up crypto libs
    mkdir /firmware
    mkdir /vendor
    mkdir /vendor/firmware
    mkdir /vendor/firmware/keymaster
    wait /dev/block/platform/msm_sdcc.1/by-name/modem
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/modem /firmware
    symlink /firmware/image/keymaster.b00 /vendor/firmware/keymaster/keymaster.b00
    symlink /firmware/image/keymaster.b01 /vendor/firmware/keymaster/keymaster.b01
    symlink /firmware/image/keymaster.b02 /vendor/firmware/keymaster/keymaster.b02
    symlink /firmware/image/keymaster.b03 /vendor/firmware/keymaster/keymaster.b03
    symlink /firmware/image/keymaster.mdt /vendor/firmware/keymaster/keymaster.mdt
    symlink /firmware/image/cmnlib.b00 /vendor/firmware/cmnlib.b00
    symlink /firmware/image/cmnlib.b01 /vendor/firmware/cmnlib.b01
    symlink /firmware/image/cmnlib.b02 /vendor/firmware/cmnlib.b02
    symlink /firmware/image/cmnlib.b03 /vendor/firmware/cmnlib.b03
    symlink /firmware/image/cmnlib.mdt /vendor/firmware/cmnlib.mdt
